body {
  color: $body-color;
  background-color: $body-bg;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  overflow: hidden;
}

body, text {
  font-family: Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul, dl {
  padding: 0;
  list-style: none;
}

.modal-content {
  border-radius: 12px;

  .modal-header {
    background-color: #002a6d;
    border-radius: 12px 12px 0 0;
    border-bottom: 0;
    padding: 12px 21px;

    .modal-title {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
    }

    .btn-close {
      filter: var(--bs-btn-close-white-filter);
    }
  }

  .modal-footer {
    background-color: #eee;
    border-radius: 0 0 12px 12px;
  }
}

.btn {
  > i {
    margin-right: 5px;
  }

  &.btn-xs {
    padding: 0.2rem 0.6rem;
    font-size: 0.75rem;
    border-radius: 0.15rem;
  }

  &.btn-sm {
    padding: 5px 16px;
  }

  &.btn-success {
    background-color: $nyj-green;
    border-color: $nyj-green;
  }

  &.btn-primary {
    background-color: $nyj-blue;
    border-color: $nyj-blue;
  }

  &.btn-info {
    background-color: $nyj-skyblue;
    border-color: $nyj-skyblue;
  }

  &.btn-danger {
    background-color: $nyj-pink;
    border-color: $nyj-pink;
  }

  &.btn-secondary {
    background-color: #434343;
    border-color: #434343;
  }
}

.text-danger {
  color: $nyj-pink;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

::-webkit-scrollbar-button {
  background: #eee;
  height: 10px
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb
}

::-webkit-scrollbar-track,::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-corner {
  background: #ccc
}