.wrap {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.login-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("~@/resources/images/nyj-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .login-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


    .login-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;

      img {
        height: 40px;
      }

      .logo-type {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }
    }

    .login-box {
      background: rgb(16 18 27 / 60%);
      backdrop-filter: blur(2px);
      border-radius: 30px;
      padding: 50px 60px;
      width: 450px;

      .form-row {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .form-label {
          color: #fff;
          margin-bottom: 5px;
          padding-left: 10px;
        }

        .form-control {
          border-radius: 30px;
          border: 1px solid #fff;
          background-color: transparent;
          color: #fff;
          font-size: 16px;
          padding: 10px 20px;
        }

      }

      .validation-text {
        text-align: center;
        color: #fff;
      }

      .login-btn {
        padding: 10px 20px;
        width: 100%;
        margin-top: 20px;
      }

    }
  }
}


.logo-box {
  height: 70px;
  width: 230px;

  .logo {
    line-height: 1;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 0;

    .logo-link {
      text-align: center;

      img {
        height: 16px;
      }

      .logo-type {
        color: #fff;
        font-weight: 600;
        display: block;
        margin-top: 10px;
      }
    }


  }
}

.left-side-menu {
  background-color: $nyj-dark-blue;
  box-shadow: 2px -2px 5px rgba(0,0,0,0.1);
  width: 230px;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 11;
  display: flex;
  flex-direction: column;
  transition: all .2s;

  &.fold {
    left: -230px;
  }

  .side-menu-wrap {
    padding: 20px 0;
    flex: 1 1 0;

    .side-menu-title {
      color: rgba(255,255,255,0.9);
      font-size: 13px;
      font-weight: 300;
      padding: 10px 20px;
    }

    ul > li.has-sub > a {
      position: relative;

      &::after {
        content: "\F0142";
        font-family: Material Design Icons;
        font-size: 1.1rem;
        line-height: 1.5rem;
        position: absolute;
        right: 20px;
      }
    }

    ul > li.has-sub.is-open > a {
      &::after {
        transform: rotate(90deg);
      }
    }

    > ul > li > a {
      color: rgba(255,255,255,0.7);
      font-weight: 300;
      display: block;
      padding: 12px 20px;
      position: relative;
      transition: all 0.4s;
      font-size: 0.95rem;

      i {
        display: inline-block;
        line-height: 1.0625rem;
        margin: 0 7px 0 3px;
        text-align: center;
        vertical-align: middle;
        width: 16px;
        font-size: 1rem;
      }
    }

    ul > li > a:hover,
    ul > li > a:focus,
    ul > li > a:active {
      color: rgba(255,255,255,0.9);
    }

    ul > li.is-open > a,
    ul > li.active-page > a {
      color: #fff;
      font-weight: 400;

      i {
        color: #11d256;
      }
    }

    ul.side-menu-level2 {
      padding-left: 34px;
    }

    ul.side-menu-level3 {
      padding-left: 18px;
    }

    ul.side-menu-level2,
    ul.side-menu-level3 {
      padding-bottom: 12px;
      display: none;

      > li > a {
        color: rgba(255,255,255,0.7);
        font-weight: 300;
        font-size: .875rem;
        padding: 8px 20px;
        position: relative;
        transition: all .4s;
        display: flex;
        align-items: center;
        gap: 5px;

        &::before {
          content: '';
          width: 0;
          height: 0.5px;
          background-color: #eee;
          transition: all .2s;
        }

        &:hover, &:focus, &:active {
          color: rgba(255,255,255,0.9);
        }

        &.active {
          color: #fff;
          font-weight: 500;

          &::before {
            content: '';
            width: 8px;
          }
        }

      }
    }

    .side-menu > li.is-open {
      > ul {
        display: block;
      }
    }
  }
}

.top-nav {
  position: fixed;
  left: 230px;
  right: 0;
  height: 70px;
  z-index: 10;
  display: flex;
  align-items: center;
  transition: all .2s;
  background-color: $body-bg;

  &.fold {
    left: 0;
  }

  .top-nav-right {
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 20px;

    .page-title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 0;
      color: transparent;
    }

    .user-menu {
      display: flex;
      gap: 10px;
      position: relative;
      z-index: 2;

      .nav-item {
        .dropdown-menu {
          box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.05);
          border: 0;
          background-color: #fff;
          margin-top: 8px;
          padding: 0;
          overflow: hidden;
          min-width: 140px;

          .dropdown-divider {
            border: 0;
            margin: 0;
          }

          .dropdown-item {
            font-size: 14px;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

.content-page {
  height: 100%;
  padding: 76px 20px 20px 20px;
  margin-left: 230px;
  overflow: auto;
  transition: all .2s;

  &.fold {
    margin: 0;
  }

  .content {
    height: 100%;
    position: relative;
    z-index: 1;

    > .row {
      height: 100%;
    }

    .tableauPlaceholder {
      width: 100% !important;
      height: 100% !important;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}



.navbar-custom {
  background-color: #f8f8f8;
  *box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.card-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px 4px rgba(0,0,0,0.02);
  height: 100%;

  .card-box-body {
    flex: 1 1 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
}

.table-control-top {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .table-control-top-side {
    display: flex;
    gap: 14px;
  }
}

.form-control-dateRange {
  background-color: #f6f6f6;
  border: 1px solid #dee2e6;
  border-radius: 30px;
  font-size: 14px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 38px;

  & + .dropdown-menu {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(0, 43px);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.05);
  }
}

.btn-wrap {
  display: flex;
  gap: 6px;
}

.table-search-wrap {
  background-color: #f6f6f6;
  border: 1px solid #dee2e6;
  border-radius: 30px;
  padding: 0 10px;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    border: 0;
    height: 100%;
    min-width: 70px;
    background-color: transparent;
    outline: 0;
    font-size: 14px;
  }

  input {
    background-color: transparent;
    border: 0;
    width: 130px;
    height: 100%;
    outline: 0;
    font-size: 14px;
  }

  .btn {
    padding: 5px 5px 5px 10px;
  }
}

.table-wrap {
  overflow: auto;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  border-top: 1px solid #a6a6a6;
}

.table-custom {
  margin-bottom: 0;

  thead {
    border-top: 0 !important;
    tr {
      th {
        background-color: #f6f6f6;
        color: #000;
        text-align: center;
      }
    }
  }

  tbody {
    border-top: 1px solid #ddd !important;

    tr {
      td {
        color: #000;
        text-align: center;
        background-color: transparent;
      }
    }
  }
}

.table-clickable {
  tbody {
    tr {
      cursor: pointer;
      transition: all .2s;

      &:not(.active):hover {
        td {
          background-color: rgb(0 57 148 / 2%);
          font-weight: 400;
        }
      }

      &.active {
        td {
          background-color: rgb(0 57 148 / 5%);
          color: $nyj-blue;
          font-weight: 500;
        }
      }
    }
  }
}

.table-menu {
  tbody {
    tr {

      &:hover {
        td {
          background-color: rgb(0 57 148 / 2%);
          font-weight: 400;
        }
      }

      td:first-child {
        text-align: left;
      }

      &.tr-menu-depth1 {
        cursor: pointer;

        td:first-child {
          padding-left: 40px;

          &::before {
            content: "\f0142";
            font-family: Material Design Icons;
            font-size: 16px;
            margin-right: 5px;
            display: inline-block;
          }
        }

        &.active {
          td:first-child {
            color: $nyj-blue;
            font-weight: 500;

            &::before {
              transform: rotate(90deg);
            }
          }
        }
      }

      &.tr-menu-depth2 {
        cursor: pointer;

        td:first-child {
          padding-left: 70px;

          &::before {
            content: "\f0142";
            font-family: Material Design Icons;
            font-size: 16px;
            margin-right: 5px;
            display: inline-block;
          }
        }

        &.active {
          td:first-child {
            &::before {
              transform: rotate(90deg);
            }
          }
        }
      }

      &.tr-menu-depth3 {
        td {
          cursor: default;
        }

        td:first-child {
          padding-left: 100px;
          font-weight: 300;

          &::before {
            content: "\F0A15";
            font-family: Material Design Icons;
            font-size: 13px;
            margin-right: 4px;
            display: inline-block;
          }
        }
      }

      &.no-child {
        td {
          cursor: default;
        }

        td:first-child {
          &::before {
            content: "\F0A15";
            font-family: Material Design Icons;
            font-size: 13px;
            margin-right: 4px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.pagination-wrap {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;

  .pagination {
    margin-bottom: 0;
    gap: 4px;

    &.pagination-rounded {
      .page-link {
        border-radius: 30px !important;
        border: none;
      }
    }

    .page-item {
      .page-link {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: #333;
        transition: all 0.15s ease-in-out;
        background-color: transparent;
      }

      &.disabled {
        .page-link {
          color: #999;
          background-color: transparent;
        }
      }

      &.active {
        .page-link {
          color: #fff;
          background-color: #434343;
        }
      }
    }
  }
}

.navbar-custom .topnav-menu > li {
  display: flex;
  justify-content: center;
  align-items: center;

  .dropdown-icon {
    width: 32px;
    height: 32px;
    background-color: #eee;
    color: #000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}

.nav-user {
  padding: 0 5px !important;
}

.pro-user-name {
  margin-left: 3px;
  margin-right: 5px;
}

body.authentication-bg {
  background-image: none;
  background-color: #002A78;
}

.login-title {
  font-size: 18px;
}

.account-pages {
  margin-top: 130px;
  position: relative;

  &::before {
    content: '';
    width: 391px;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='391' height='931' viewBox='0 0 391 931' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M289.877 846.281L360.82 930.83H391L304.995 828.307L327.952 800.871C329.627 798.917 330.472 796.385 330.304 793.816C330.149 791.354 329.116 789.029 327.392 787.265L313.786 773.659H157.678C112.1 773.659 75.2012 738.495 75.2012 695.269C75.2627 685.665 77.1633 676.161 80.8005 667.272H58.0671C55.1803 676.325 53.707 685.768 53.6995 695.269C53.6995 749.806 100.286 793.984 157.791 793.984H243.515L128.506 930.998H158.686L273.639 793.984H303.82L188.866 930.998H219.046L259.809 882.396L300.628 930.998H330.808L274.815 864.423L279.911 858.32L289.877 846.281Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M64.2831 656.802H157.679C162.768 656.743 167.818 657.687 172.542 659.58C177.265 661.472 181.57 664.277 185.21 667.834C188.849 671.39 191.753 675.628 193.754 680.307C195.756 684.986 196.816 690.013 196.874 695.101C196.836 700.398 195.684 705.627 193.494 710.45C191.305 715.273 188.126 719.582 184.164 723.098H210.929C215.836 714.58 218.441 704.932 218.488 695.101C218.164 679.29 211.578 664.253 200.177 653.293C188.776 642.332 173.491 636.345 157.679 636.645H40.0945L57.284 653.835C59.1402 655.7 61.6521 656.764 64.2831 656.802Z' fill='white' fill-opacity='0.1'/%3E%3Cpath d='M157.68 733.4C147.408 733.504 137.513 729.532 130.165 722.352C122.818 715.173 118.618 705.373 118.485 695.101C118.523 689.799 119.68 684.565 121.88 679.74C124.08 674.916 127.273 670.61 131.251 667.104H104.487C99.5325 675.605 96.906 685.262 96.8716 695.101C97.195 710.922 103.788 725.968 115.201 736.929C126.614 747.891 141.914 753.872 157.736 753.557H293.686L276.496 736.368C275.569 735.423 274.462 734.674 273.241 734.164C272.019 733.654 270.708 733.395 269.385 733.4H157.68Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M240.1 695.1C240.027 704.703 238.126 714.204 234.501 723.097H257.57C260.402 714.033 261.856 704.596 261.882 695.1C261.882 640.619 215.295 596.385 157.847 596.385H64.7312L64.728 -2.5H43.1142L43.1173 596.385H21.5042L21.501 -2.5H0L0.00317383 592.242C0.00595166 593.677 0.331509 595.093 0.955298 596.385C1.44109 597.488 2.12412 598.494 2.97096 599.353L20.1604 616.542H157.959C203.201 616.542 240.1 651.706 240.1 695.1Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: '';
    width: 388px;
    height: 106px;
    position: fixed;
    bottom: 80px;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='388' height='107' viewBox='0 0 388 107' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M356.225 24.518C341.979 24.518 332.526 17.5938 324.45 11.4716C316.374 5.34946 309.251 0.109455 296.859 0.0292501C284.466 -0.050955 277.555 5.37619 269.293 11.4716C261.032 17.567 251.711 24.5982 237.518 24.518C223.326 24.4378 213.687 17.5938 205.743 11.4716C197.8 5.34944 190.492 0.109434 178.152 0.0292293C165.76 0.0292272 158.796 5.37617 150.535 11.4716C142.273 17.567 132.952 24.5981 118.76 24.5179C104.567 24.4377 95.0606 17.5937 86.9845 11.4716C78.9083 5.34942 71.7326 0.109414 59.3668 0.0292086C47.001 -0.0509965 40.0101 5.37615 31.7751 11.4716C23.54 17.567 14.1929 24.5981 -4.2819e-06 24.5179L-9.09185e-06 52.0276C14.2458 52.0276 23.6989 45.0767 31.775 38.9813C39.8512 32.8859 47.001 27.6191 59.3668 27.5389C71.7326 27.4587 78.723 32.8859 86.9845 38.9813C95.246 45.0767 104.567 52.1078 118.76 52.0276C133.058 52.0276 142.591 45.0767 150.535 38.9813C158.478 32.8859 165.76 27.6191 178.152 27.5389C190.544 27.4587 197.508 32.8859 205.743 38.9813C213.978 45.0767 223.299 52.1079 237.518 52.0277C251.738 51.9475 261.35 45.0767 269.293 38.9813C277.237 32.8859 284.546 27.6192 296.859 27.539C309.172 27.4588 316.215 32.8859 324.45 38.9813C332.685 45.0767 342.059 52.1079 356.225 52.0277C370.391 51.9475 380.056 45.0768 388 38.9813L388 11.4716C379.95 17.5938 370.471 24.5982 356.225 24.518Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M356.225 78.5178C341.979 78.5178 332.526 71.5936 324.45 65.4714C316.374 59.3492 309.251 54.1095 296.859 54.0293C284.466 53.949 277.555 59.3759 269.293 65.4714C261.032 71.5668 251.711 78.598 237.518 78.5178C223.326 78.4376 213.687 71.5935 205.743 65.4713C197.8 59.3491 190.492 54.1094 178.152 54.0292C165.76 54.0292 158.796 59.3759 150.535 65.4713C142.273 71.5668 132.952 78.598 118.76 78.5178C104.567 78.4376 95.0606 71.5935 86.9845 65.4713C78.9083 59.3491 71.7326 54.1094 59.3668 54.0292C47.001 53.949 40.0101 59.3759 31.7751 65.4713C23.54 71.5668 14.1929 78.598 -4.28187e-06 78.5177L-9.09185e-06 106.028C14.2458 106.028 23.6989 99.0767 31.775 92.9812C39.8512 86.8857 47.001 81.619 59.3668 81.5388C71.7326 81.4586 78.723 86.8857 86.9845 92.9812C95.246 99.0767 104.567 106.108 118.76 106.028C132.952 105.947 142.591 99.0767 150.535 92.9812C158.478 86.8858 165.76 81.619 178.152 81.5388C190.544 81.4586 197.508 86.8858 205.743 92.9812C213.978 99.0767 223.299 106.108 237.518 106.028C251.738 105.947 261.35 99.0767 269.293 92.9812C277.237 86.8858 284.546 81.619 296.859 81.5388C309.172 81.4586 316.215 86.8858 324.45 92.9812C332.685 99.0767 342.059 106.108 356.225 106.028C370.391 105.947 380.056 99.0767 388 92.9813L388 65.4714C379.95 71.5936 370.471 78.598 356.225 78.5178Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.card {
  border-radius: 16px;
}

.custom-modal {
  .modal-dialog {
    margin: 60px auto;
  }
}

.form-wrap {
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 20px;

  form {
    > .mb-2 {
      margin-bottom: 1rem !important;
    }

    .form-label {
      padding-left: 0.9rem;
    }

    .form-control {
      border-radius: 20px;
      padding: 0.58rem 0.9rem;
      font-size: 14px;
    }

    .form-select {
      border-radius: 20px;
      padding: 0.58rem 0.9rem;
      font-size: 14px;
    }

    .validation-text {
      transform: translateY(-0.5rem);
      color: #888;
      font-size: 13px;
      font-weight: 300;
      padding-left: 0.9rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.login-text {
  margin-top: 40px;
  width: 400px;
  word-break: keep-all;
  text-align: center;
  filter: drop-shadow(2px 2px 6px rgba(0,0,0,0.6));
  color: #fff;

  h4 {
    font-size: 17px;
    font-weight: 300;

    i {
      margin-right: 5px;
      font-weight: 800;
    }

    b {
      font-weight: 500;
    }
  }

  p {
    font-weight: 300;
    margin-bottom: 0;
  }
}

.btn-menu {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: $body-color;

  i {
    font-size: 24px;
  }
}