

@media (max-width: 1640px) {
  .logo-box {
    width: 200px;

    .logo {
      font-size: 14px;

      .logo-link {
        .logo-type {
          font-weight: 400;
        }
      }
    }
  }

  .left-side-menu {
    width: 200px;

    .side-menu-wrap {
      > ul > li {
        > a {
          padding: 12px;
          font-size: 14px;
        }
      }

      ul.side-menu-level2 {
        padding-left: 20px;
      }

      ul.side-menu-level2 > li > a,
      ul.side-menu-level3 > li > a {
        font-size:13px;
      }
    }
  }

  .top-nav {
    left: 200px;
  }

  .content-page {
    margin-left: 200px;
  }
}

@media (max-width: 1200px) {
  .content-page {
    margin-left: 0;
  }
}

@media (max-width: 799px) {
  .login-container {
    .login-inner {
      width: 100%;
      min-width: unset;
      max-width: unset;
    }
  }


}

@media (max-width: 499px) {
  .login-container {
    &::before {
      background-color: rgba(0,0,0,0.6);
    }

    .login-inner {
      .login-box {
        background-color: transparent;
        backdrop-filter: none;
      }
    }
  }

}