

@media (max-width: 1640px) {
  .logo-box {
    width: 180px;

    .logo {
      font-size: 14px;

      .logo-link {
        .logo-type {
          font-weight: 400;
        }
      }
    }
  }

  .left-side-menu {
    width: 180px;

    .side-menu-wrap {
      > ul > li {
        > a {
          padding: 12px;
          font-size: 14px;
        }
      }

      ul.side-menu-level2 {
        padding-left: 20px;
      }

      ul.side-menu-level2 > li > a,
      ul.side-menu-level3 > li > a {
        font-size:13px;
      }
    }
  }

  .content-page {
    margin-left: 180px;
  }


}

@media (max-width: 799px) {
  .login-inner.v2 {
    width: 100%;

    .login-box {
      width: 100%;
      max-width: 100%;
    }
  }

  .login-text.v3 {
    padding: 80px;
  }
}

@media (max-width: 400px) {
  .login-inner.vw {
    .login-box {
      padding: 50px 20% 270px;
    }
  }

  .login-text.v3 {
    padding: 60px;
  }
}