// Customize some defaults
$body-color: #333;
$body-bg: #f8f8f8;
$border-radius: .4rem;


//nyj colors

$nyj-blue: #003994;
$nyj-green: #00A73C;
$nyj-dark-blue: #002A78;
$nyj-skyblue: #00A1E9;
$nyj-pink: #E4007F;
$nyj-yellow: #F08300;

$nyj-light-gray: #E6E6E6;
$nyj-medium-gray: #BFC0C0;
$nyj-dark-gray: #515557;

$dropdown-link-hover-bg: #f0f0f0;
$dropdown-link-active-bg: $nyj-skyblue;